<!--DASHBOARD ITEM CARD-->
<div class="container dashcontainer">
  <div class="row">
      <div class="col-md-3">
    <div class="card-item">
        <i class="fas fa-dollar-sign ic a"></i>
        <h1 class="title">$20.000</h1>
        <p>TODAY REVENUE</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-item">
        <i class="fas fa-shopping-cart ic b"></i>
        <h1 class="title">2000</h1>
        <p>ORDER</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-item">
        <i class="fas fa-dollar-sign ic c"></i>
        <h1 class="title">$93.000</h1>
        <p>SALES</p>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card-item">
        <i class="fas fa-user-plus ic d"></i>
        <h1 class="title">193,000</h1>
        <p>VISITORS</p>
    </div>
  </div>

  </div>
</div>


<!--*DASHBOAD ENDS-->

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

<link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
